* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.App {
    border: 2px solid red;
    height: 100vh;
    max-width: 1440px;
    margin: auto;
    padding: 30px 5px;
}

.landing {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.landing>div {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.landing-title {
    font-size: 24px;
}

.landing-description {
    font-size: 15px;
    opacity: 0.7;
    margin-bottom: 15px;
    width: 250px;
    font-size: 600;
}

.button {
    padding: 10px;
    font-size: 18px;
    min-width: 300px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    opacity: 0.8;
}

.button:focus {
    border: 1px solid green;
}

.button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.login,
.signup {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 25%;
    margin: auto;
}

.login>h1,
.signup>h1 {
    font-size: 24px;
    width: 220px;
    line-height: 29px;
}

.login>div,
.signup>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login>p {
    font-size: 15px;
    opacity: 0.7;
    width: 250px;
    margin-bottom: 15px;
    font-size: 600;
}

.form-group {
    border: 2px solid #CBCBCB;
    border-radius: 7px;
    position: relative;
    min-width: 300px;
}

.form-group>label {
    position: absolute;
    top: -12px;
    left: 9px;
    background: white;
    color: #6C25FF;
    font-weight: 600;
    font-size: 14px;
    z-index: 1;
    padding: 0px 0px 0px 5px;
    min-width: 120px;
}

.form-group>label>span {
    color: red;
}

.form-group>input {
    width: 100%;
    outline: none;
    padding: 12px 10px;
    font-weight: 600;
    border: none;
}

.agency {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 40%;
}

.agency>label {
    min-width: 200px;
}

.agency>label>span {
    color: red;
}

.agency>div>div>input[type="radio"] {
    color: #6C25FF;
    width: 20px;
    height: 20px;
}

.agency>div {
    display: flex;
    gap: 30px;
    align-items: center;
}

.agency>div>div {
    display: flex;
    align-items: center;
    gap: 13px;
}

.login>div input::placeholder,
.signup>div input::placeholder {
    opacity: 0.7;
}



@media all and (min-width: 320px) and (max-width:480px) {

    .landing-title,
    .login>h1,
    .signup>h1 {
        font-size: 25px;
    }

    .landing-description,
    .login>p {
        font-size: 14px;
    }

    .button {
        font-size: 15px;
        padding: 10px 5px;
        min-width: 200px;
        border-radius: 10px;
    }

    .login,
    .signup {
        width: 60%;
    }

    .form-group {
        min-width: 200px;
    }

    .form-group>label>span,
    .agency>label>span {
        font-size: 12px;
    }

    .form-group>label,
    .login>div input::placeholder,
    .signup>div input::placeholder {
        font-size: 12px;
        min-width: 100px;
    }

    .agency {
        font-size: 12px;
    }

    .agency>div>div>input[type="radio"] {
        width: 15px;
        height: 15px;
    }

}